<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:replace="~{common/layout :: head}">

	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

	<!-- SUIT 폰트 추가-->
	<link th:href="@{https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css}" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/font-awesome/css/all.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/nouislider/nouislider.css}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/shopping.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/total-style.css}">


</head>

<body>

<header th:replace="~{common/layout :: #header}"></header>

	<main>

		<!-- ======================문구 있는 헤더 -->
		<section class="bih-s-1 position-relative"
			style="background-image:url(assets/images/header/7.png); background-position: center; background-size:cover">
			<!-- Background dark overlay -->
			<div class="bg-overlay bg-dark opacity-3"></div>
			<div class="container z-index-9 position-relative">
				<div class="row py-sm-7">
					<!-- Title -->
					<div class="col-xl-8 m-auto my-7 text-center">
						<h3 class="text-white mb-0">
							캠핑 필수 아이템, <br>캠퐁에서 손쉽게 찾아보세요
						</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================문구 있는 헤더 끝 -->

		<section class="pt-5 pb-4">
			<div class="container position-relative">
				<!-- 검색 필터 -->
				<div class="searchfilter">
					<div class="card card-body bg-light p-4 mt-4 mb-5 z-index-9">
						<!-- Form START -->
						<form class="row g-4">
							<!-- Input item -->
							<div class="col-md-6 col-lg-4 me-3">
								<div class="form-control-borderless">
									<label class="form-label pb-2">검색하기</label>
									<input type="text" class="form-control form-control-lg search-bar ps-5"
										placeholder="검색어를 입력하세요">
								</div>
							</div>

							<!-- 가격 슬라이더 -->
							<div class="col-md-6 col-lg-5 ms-9">
								<div class="form-control-borderless">
									<label class="form-label pb-2">가격대</label>
									<div class="position-relative">
										<div class="noui-wrapper">
											<div class="d-flex justify-content-between">
												<input type="text" class="text-black input-with-range-min">
												<input type="text" class="text-black input-with-range-max">
											</div>
											<div class="noui-slider-range mt-2" data-range-min='10000'
												data-range-max='1000000' data-range-selected-min='25000'
												data-range-selected-max='200000' id="data-range-min"></div>
										</div>
									</div>
								</div>
							</div>

							<!-- 캠핑용품 필터 -->
							<div class="col-md-6 col-lg-6">
								<div class="col-12">
									<div class="form-control-borderless">
										<label class="form-label pb-2">캠핑 용품</label>
										<div class="row g-2">
											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault">
														텐트
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault2">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault2">
														취사용품
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault3">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault3">
														캠핑가구
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault4">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault4">
														캠핑매트
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault5">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault5">
														아이스박스
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault6">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault6">
														침낭
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault7">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault7">
														천막
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault8">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault8">
														캠핑왜건
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault9">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault9">
														텐트용품
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault10">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault10">
														기타용품
													</label>
												</div>
											</div>

										</div> <!-- Row END -->
									</div>
								</div>
							</div>

							<!-- 브랜드 필터-->
							<div class="col-md-6 col-lg-6">
								<div class="col-12">
									<div class="form-control-borderless">
										<label class="form-label pb-2">브랜드</label>
										<div class="row g-2">
											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault11">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault11">
														코베아
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault12">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault12">
														캠핑문
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault13">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault13">
														스노우피크
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault14">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault14">
														카즈미
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault15">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault15">
														콜맨
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault16">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault16">
														씨투써밋
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault17">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault17">
														네이처하이크
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault18">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault18">
														스탠리
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault19">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault19">
														스노우라인
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault20">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault20">
														헬리녹스
													</label>
												</div>
											</div>

											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault21">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault21">
														반고
													</label>
												</div>
											</div>
											<!-- checkbox -->
											<div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault22">
													<label class="form-check-label h6 mb-0" for="flexCheckDefault22">
														기타 브랜드
													</label>
												</div>
											</div>

										</div> <!-- Row END -->
									</div>
								</div>
							</div>

							<!-- Button -->
							<div class="text-end align-items-center">
								<button class="btn btn-link p-0 mb-0">검색 초기화</button>
								<button class="btn btn-dar btn-apply mb-0 ms-3">필터 적용</button>
							</div>
						</form>
						<!-- Form END -->
					</div>
				</div>
				<!-- Collapse body END -->

			</div>
		</section>
		<!-- ======================= Title and Tabs END -->

		<!-- ======================= 리스트 -->
		<section class="pt-0">
			<div class="container">
				<div class="row g-4">

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Overlay item -->
							<div class="position-absolute top-0 start-0 z-index-1 m-4">
								<div class="badge bg-best text-white">Best</div>
							</div>

							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/1.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">쿠디 에어매트 캠핑매트 자충매트 야외 캠핑</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦85,500</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
											</i>
											</a>

										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/2.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">동성 해바라기 버너 캠핑 신형 1005 링가드</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦98,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/3.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">케이엘시스템 멍캠핑 스테인리스 메쉬망 캠핑</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦119,650</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/4.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">지라프 시그니처 캠핑 가스버너 에디션</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦78,990</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/5.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">국내산 캠핑 통주물 그리들 고기 불판 솥뚜껑</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦46,900</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/6.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a href="#">이츠라이프 감성 불멍 로켓 우드 스토브 캠핑 화로대</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦28,900</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Overlay item -->
							<div class="position-absolute top-0 start-0 z-index-1 m-4">
								<div class="badge bg-best text-white">Best</div>
							</div>

							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/7.jpg" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a href="#">캥거 캠핑 팩가방 단조팩 공구 수납 가방 밀리터리</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦15,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<<img th:src="@{/assets/images/shop_item/8.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">도그독 접이식 초경량 캠핑의자 감성 원목 모던 캠핑용품</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦98,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/9.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">카고컨테이너 듀얼 라이트 미니 LED 랜턴 캠핑용품</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦55,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/10.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">앳더캠프 인디언행어 캠핑 우드 행어 행거 하판포함</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦39,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/11.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">라이노 캠핑 화로대 불멍 접이식 바베큐그릴 하이엔드골드2007</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦129,000</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 col-xl-4">
						<div class="card shadow pb-0 h-100">
							<!-- Image -->
							<img th:src="@{/assets/images/shop_item/12.jpg}" class="rounded-2" alt="Card image">

							<!-- Card body START -->
							<div class="card-body px-3 pb-0">
								<!-- Title -->
								<h5 class="card-title"><a th:href="@{#}">헤몬 캠핑가방 수납 멀티 다용도 감성 캠핑 소품 용품 가방</a></h5>
							</div>
							<!-- Card body END -->

							<!-- Card footer START-->
							<div class="card-footer pt-4">
								<!-- Price and Button -->
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Price -->
									<div class="d-flex align-items-center">
										<h5 class="fw-normal text-success mb-0 me-1">￦41,900</h5>
									</div>
									<!-- Button -->
									<div class="mt-2 mt-sm-0">
										<!-- Rating and basket -->
										<div class="d-flex justify-content-between">
											<a th:href="@{/shop/shopping-basket}" class="h6 z-index-2"><i
													class="btn_shopicon bi fa-fw bi-basket3-fill"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

				</div> <!-- Row END -->

				<!-- 페이징 -->
				<div class="row">
					<div class="col-12">
						<nav class="mt-7 my-4 d-flex justify-content-center" aria-label="navigation">
							<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
								<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i
											class="fa-solid fa-angle-left"></i></a></li>
								<li class="page-item mb-0 active"><a class="page-link" href="#">1</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">2</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">4</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">5</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#">10</a></li>
								<li class="page-item mb-0"><a class="page-link" href="#"><i
											class="fa-solid fa-angle-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</main>

	<!-- **************** MAIN CONTENT END **************** -->

	<!-- Back to top -->
	<div class="back-top"></div>


	<!-- Vendors -->
	<script th:src="@{/assets/vendor/nouislider/nouislider.min.js}"></script>
	
	<footer th:replace="~{common/layout :: #footer}"></footer>
</body>

</html>