<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{common/layout :: head}"></th:block>

	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/aos/aos.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/shopping-basket.css}">

</head>

<body>
	<script th:inline="javascript">
		function openShopping(data){
			var popup = window.open(data,'팝업','width=1000px,height=800px,scrollbars=yes');
		}
		$(".selectDelete").click(function(){
			var confirm = confrim("정말 삭제하시겠습니까?");
			
			if(confirm){
				var checkArr = new Array();
				
				$("input[class='checkboxs']:checked").each(function(){
					checkArr.push($(this).attr("data-cartNum"));
				});
			}
		});
		function goShopping(){
			location.href= "@{/shop/shopping}";
		}
	</script>
	
	<header th:replace="~{common/layout :: #header}"></header>

	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================Content START -->
		<section>
			<div class="container mt-8 mb-8">
				<div class="row">

					<!-- 사이드바 -->
					<th:block th:replace="~{common/layout :: #sideBar}"></th:block>
					<!-- 사이드바 끝 -->

					<!-- Main content START -->
					<div class="col-lg-8 col-xl-9 ps-xl-5">

						<!-- Offcanvas menu button -->
						<div class="d-grid mb-0 d-lg-none w-100">
							<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
								data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
								<i class="fas fa-sliders-h"></i> Menu
							</button>
						</div>

						<!-- Wishlist START -->
						<div class="card border bg-transparent shadow-sm">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom">
								<h4 class="card-header-title">장바구니</h4>
							</div>

							<!-- Card body START -->
							<div class="row card-body vstack">
								<!-- Select and button -->
								<form class="d-flex justify-content-between">
									<div class="col-6 col-xl-2 pt-4">
									</div>
									<!-- Button -->
									<a th:href="@{/shop/deleteAllBasket(mNo=${session.mvo.mNo})}" class="btn btn-danger-soft me-3"><i class="fas fa-trash pe-2"></i>
										전체삭제</a>
								</form>
								<!--장바구니 아이템시작-->
								<div class="border-top my-3" >
								<div class="row">
									<th:block th:if="${basket.size == 0}">
										<div class="text-center my-5 pt-5">
											<h5>장바구니에 담긴 상품이 없습니다.</h5>
										</div>
									</th:block>
									<th:block th:if="${basket != null}">
									<!-- 장바구니아이템 1 -->
									<div class="container border-bottom" th:each="basket : ${basket}">
										<div class="row">
											<div class="col-md-2">
												<!-- 상품 체크 끝-->
												<!-- 상품이미지 -->
												<div class="item-image py-2 border-right" style="height:150px;">
													<img th:src="@{${basket.image}}" style="max-height:140px; border-radius:10px; padding-bottom:5px;">
												</div>
												<!--상품이미지 끝-->
											</div>
											<!-- 상품내용 -->
											<div class="col-md-7 ps-5">
												<div class="my-3">
													<h3 class="subtitle fw-bold" th:text="@{${basket.title}}" style="font-size:20px; margin-top:35px;">코멧 아웃도어 캠핑 폴딩 카트 + 수납 가방세트</h3>
												</div>
											</div>
											<div class="item-total col-md-3">
												<h5 class="total-price mt-3 py-3" data-th-text="${'￦'+ #numbers.formatInteger(basket.lprice, 3, 'COMMA')}">12,800원</h5>
												<a th:href="${basket.link}" target='_blank'><button class="order me-2">주문하기</button></a>
												<a th:href="@{/shop/deleteBasket(pno=${basket.pno},mNo=${session.mvo.mNo})}"><button class="delete" id="selectDelete">삭제</button></a>
											</div>
										</div>
									</div>
									<!-- 장바구니아이템 1 끝 -->
									</th:block>
									</div>
								</div>
								<!--장바구니 아이템끝-->
								<!--주문하기-->
								<div class="jumun mt-6">
									 <a th:href="@{/shop/shopping}"><button class="btn btn-primary p-2 px-4 fs-6" >쇼핑 계속하기</button></a>
								</div>
								<!--주문하기-->
							</div>
							<!-- 장바구니 아이템끝 -->
						</div>
					</div>
					</div>
					</div>
		</section>
	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- Back to top -->
	<div class="back-top"></div>
	
	<footer th:replace="~{common/layout :: #footer}"></footer>

	<!-- Vendors -->
	<script th:src="@{/assets/vendor/aos/aos.js}"></script>

</body>
</html>