@charset "UTF-8";

.card {
	border-radius: 0;
}

.tiny-slider-inner .card #slideCard {
	border-radius: 0;
}

.line {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #019267;
	font-size: 20px;
	margin: 4px 0px;
}

.line::after {
	content: "";
	flex-grow: 1;
	margin: 0px 16px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}

.campInfo {
	display: inline-block;
	font-size: 15px;
	line-height: 28px;
	color: black;
}

.campInfoRe {
	padding-left: 80px;
	font-size: 15px;
	line-height: 28px;
	color: black;
}

.facilityBox {
	min-width: 180px;
	background-color: rgb(248, 246, 246);
}

.campIntro {
	color: black;
}

.emoteGroup {
	padding-top: 10px;
	padding-left: 20px;
	display: inline-block;
	margin-right: 10px;
}

.jido {
	height: 600px;
}

.emote {
	margin-left: 13.5px;
	width: 50px;
	height: 50px;
}

.emote2 {
	margin-left: 5px;
	width: 50px;
	height: 50px;
}

.emoteName {
	margin-top: 5px;
	width: 75px;
	text-align: center;
	color: black;
}

.emoteName2 {
	margin-left: -10px;
	margin-top: 5px;
	width: 90px;
	text-align: center;
}

.pagination {
	justify-content: center;
}

/* 탭 색상 */

.nav {
	--bs-nav-link-color: #000;
}

.nav-link:hover,
.nav-link:focus {
	color: #8160c7;
}

.nav.nav-bottom-line .nav-link.active {
	background: transparent;
	color: #8160c7;
	border-bottom: 3px solid #8160c7;
}