.bih-d-1{
  width: 100%;
}
.bih-t-1{
  z-index: -1;
  position: relative;
}

/*업체 이미지*/
.bih-i-8{
	overflow:hidden;
	height:140px;
}
.bih-i-9{
	object-fit: cover; 
	width:100%; 
	height:100%;
}

.icon-md {
  background-color: #019267 !important;
}