<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{common/layout :: head}"></th:block>

	<script src="https://code.jquery.com/jquery-3.6.3.slim.js" integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
	<script th:inline="javascript">
   			 /*<![CDATA[*/
		
   			$(function(){
			var selectedSido = /*[[${sido}]]*/;
			var selectedGugun = /*[[${gugun}]]*/;
			var temp = {};
			temp['value'] = selectedSido;
			categoryChange(temp);
			var target = document.getElementById("sido");
			for(var i = 0; i < target.options.length; i++){
				if(target.options[i].value == selectedSido){
					target.options[i].selected = true;
					break;
				}
			}
			
			
			target = document.getElementById("gugun");
			for(var i = 0; i < target.options.length; i++){
				if(target.options[i].value == selectedGugun){
					target.options[i].selected = true;
					break;
				}
			}
		});
	
       function init(){
    	   
       }
   				 
		/* 드롭박스 */
		function categoryChange(e) {
			
			var good_a = ["전체", "강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"];
			var good_b = ["전체", "강서구", "금정구", "기장군", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구"];
			var good_c = ["전체", "남구", "달서구", "달성군", "동구", "북구", "상주", "서구", "수성구", "중구"];
			var good_d = ["전체", "강화군", "계양구", "남구", "남동구", "동구", "부평구", "서구", "연수구", "옹진군", "중구"];
			var good_e = ["전체", "광산구", "남구", "동구", "북구", "서구"];
			var good_f = ["전체", "대덕구", "동구", "서구", "유성구", "중구"];
			var good_g = ["전체", "남구", "동구", "북구", "울주군", "중구"];
			var good_h = ["전체", "금남면", "세종시", "소정면", "연서면", "전동면"];
			var good_i = ["전체", "가평군", "고양시", "과천시", "광명시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안성시", "안양시", "양주시", "양평군", "여주시", "연천군", "오산시", "용인시", "의왕시", "의정부시", "이천시", "파주시", "평택시", "포천시", "하남시", "화성시"];
			var good_j = ["전체", "강릉시", "고성군", "동해시", "삼척시", "속초시", "양구군", "양양군", "영월군", "원주시", "인제군", "정선군", "철원군", "춘천시", "태백시", "평창군", "홍천군", "화천군", "횡성군"];
			var good_k = ["전체", "괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "제천시", "증평군", "진천군", "청원군", "청주시", "충주시"];
			var good_l = ["전체", "계룡시", "공주시", "금상군", "논산시", "당진시", "보령시", "부여군", "서산시", "서천군", "아산시", "예산군", "천안시", "청양군", "태안군", "홍성군"];
			var good_n = ["전체", "고창군", "군산시", "김제시", "남원시", "무주군", "부안군", "순창군", "완주군", "익산시", "임실군", "장수군", "전주시", "정읍시", "진안군"];
			var good_m = ["전체", "강진군", "고흥군", "곡성군", "광양시", "구례군", "나주시", "담양군", "목포시", "무안군", "보성군", "순천시", "신안군", "여수시", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군", "해남군", "화순군"];
			var good_o = ["전체", "경산시", "경주시", "고령군", "구미시", "군위군", "김천시", "문경시", "봉화군", "상주시", "성주군", "안동시", "영덕군", "영양군", "영주시", "영천시", "예천군", "울릉군", "울진군", "의성군", "청도군", "청송군", "칠곡군", "포항시"];
			var good_p = ["전체", "거제시", "거창군", "고성군", "김해시", "남해군", "밀양시", "사천시", "산청군", "양산시", "의령군", "진주시", "창녕군", "창원시", "통영시", "하동군", "함안군", "함양군", "합천군"];
			var good_q = ["전체", "서귀포시", "제주시"];
			var target = document.getElementById("gugun");
			
			
			if (e.value == '서울') var d = good_a;
			else if (e.value == "부산시") var d = good_b;
			else if (e.value == "대구시") var d = good_c;
			else if (e.value == "인천시") var d = good_d;
			else if (e.value == "광주시") var d = good_e;
			else if (e.value == "대전시") var d = good_f;
			else if (e.value == "울산시") var d = good_g;
			else if (e.value == "세종시") var d = good_h;
			else if (e.value == "경기도") var d = good_i;
			else if (e.value == "강원도") var d = good_j;
			else if (e.value == "충청북도") var d = good_k;
			else if (e.value == "충청남도") var d = good_l;
			else if (e.value == "전라북도") var d = good_m;
			else if (e.value == "전라남도") var d = good_n;
			else if (e.value == "경상북도") var d = good_o;
			else if (e.value == "경상남도") var d = good_p;
			else if (e.value == "제주도") var d = good_q;
			else var d = good_a;

			
			target.options.length = 0;
	
			for (x in d) {
				var opt = document.createElement("option");
				opt.value = d[x];
				opt.innerHTML = d[x];
				target.appendChild(opt);
			}
			
		}
		/*]]>*/
	</script>
	
	<!--구글 폰트-->
	<link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0}" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/camping-main.css}">
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>


	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<section class="bih-s-1 position-relative"
			style="background-image:url(/assets/images/header/4.png); background-position: center; background-size: cover;">
			<div class="bg-overlay bg-dark opacity-2"></div>
			<!-- Background dark overlay -->
			<div class="bg-overlay bg-dark opacity-3"></div>
			<div class="container z-index-9 position-relative">
				<div class="row py-sm-7">
					<!-- Title -->
					<div class="col-xl-8 m-auto my-3 text-center">
						<h3 class="text-white mb-0">
							캠핑장 어디로 갈지 고민이신가요?<br>
							캠퐁에서 손쉽게 찾아보세요!
						</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- 상세검색 시작-->
		<section class="mt-4 pt-5 pb-4">
			<form id="cardForm" th:action="@{/camping/camping-main}" method="get">
			<!-- *** -->
			<input type="hidden" id="page" name="page" value="1">
			<!-- 키워드검색 시작-->
			<div class="container position-relative search" style="background-color:rgb(238, 240, 240)">
				<div class="searchDeatil2 row pb-3 px-2">
					<div class="col-12 my-3 border-bottom">
						<label class="pb-2 detailSearchIcon">◎</label>
						<label class="form-label pb-2">상세검색</label>
					</div>
					<div class="area subtitle col-4 my-1">
						<p>지역</p>
					</div>
					<div class="theme subtitle col-8 my-1">
						<p>테마</p>
					</div>
					<div class="col-4 mt-0">
						<select id = "sido" name="sido" class="select me-2 ps-1" onchange="categoryChange(this)" th:value="${selectedSido}">
							<option>전체</option>
							<option value="서울">서울</option> <!-- 수정 필요 -->
							<option value="부산시">부산시</option>
							<option value="대구시">대구시</option>
							<option value="인천시">인천시</option>
							<option value="광주시">광주시</option>
							<option value="대전시">대전시</option>
							<option value="울산시">울산시</option>
							<option value="세종시">세종시</option>
							<option value="경기도">경기도</option>
							<option value="강원도">강원도</option>
							<option value="충청북도">충청북도</option>
							<option value="충청남도">충청남도</option>
							<option value="전라북도">전라북도</option>
							<option value="전라남도">전라남도</option>
							<option value="경상북도">경상북도</option>
							<option value="경상남도">경상남도</option>
							<option value="제주도">제주도</option>
						</select>

						<select id="gugun" name="gugun" class="good ps-1">
							<option>전체</option>
						</select>
					</div>
					<div class="col-7">
						<select id="lctCl" name="lctCl" class="allTheme ps-1">
							<option value="전체">전체</option>
							<option value="해변"
							th:selected="${#strings.equals(param.lctCl, '해변')}">해변</option>
							<option value="강"
							th:selected="${#strings.equals(param.lctCl, '강')}">강</option>
							<option value="섬"
							th:selected="${#strings.equals(param.lctCl, '섬')}">섬</option>
							<option value="산"
							th:selected="${#strings.equals(param.lctCl, '산')}">산</option>
							<option value="숲"
							th:selected="${#strings.equals(param.lctCl, '숲')}">숲</option>
							<option value="호수"
							th:selected="${#strings.equals(param.lctCl, '호수')}">호수</option>
							<option value="도심"
							th:selected="${#strings.equals(param.lctCl, '도심')}">도심</option>
							<option value="계곡"
							th:selected="${#strings.equals(param.lctCl, '계곡')}">계곡</option>
						</select>
					</div>
					<div class="keyword subtitle col-12 mt-4 mb-1 fw-bold">
						<p>키워드검색</p>
					</div>
					<div class="search col-6 mt-0 pt-0 mb-3">
						<input id="searchValue" name="searchValue" class="searchBox" type="text" th:value="${param.searchValue}" placeholder=" 검색어를 입력하세요." />
					</div>
					<div class="col-6">
						<button class="campSearch" type="submit">캠핑장 검색</button>
					</div>
				</div>
			</div>
			<!-- 키워드검색 끝 -->
			
			<!-- 체크박스 시작 -->
			<div class="container position-relative border px-4 pt-3 text-black">
				<div class="row">
					<div class="col-1 subtitle pt-lg-1 border-bottom fw-bold">
						<p>테마별</p>
					</div>
					<div class="col-11 pb-3 border-bottom">
						<input type="checkbox" name="checkedTheme" value="일출명소"
						th:checked="${#arrays.contains(checkedTheme, '일출명소')  ? 'checked' : null}" />
						<span class="me-3">일출명소</span>
						<input type="checkbox" name="checkedTheme" value="일몰명소"
						th:checked="${#arrays.contains(checkedTheme, '일몰명소')  ? 'checked' : null}" />
						<span class="me-3">일몰명소</span>
						<input type="checkbox" name="checkedTheme" value="수상레저"
						th:checked="${#arrays.contains(checkedTheme, '수상레저')  ? 'checked' : null}" />
						<span class="me-3">수상레저</span>
						<input type="checkbox" name="checkedTheme" value="항공레저"
						th:checked="${#arrays.contains(checkedTheme, '항공레저')  ? 'checked' : null}" />
						<span class="me-3">항공레저</span>
						<input type="checkbox" name="checkedTheme" value="스키"
						th:checked="${#arrays.contains(checkedTheme, '스키')  ? 'checked' : null}" />
						<span class="me-3">스키</span>
						<input type="checkbox" name="checkedTheme" value="낚시"
						th:checked="${#arrays.contains(checkedTheme, '낚시')  ? 'checked' : null}" />
						<span class="me-3">낚시</span>
						<input type="checkbox" name="checkedTheme" value="엑티비티"
						th:checked="${#arrays.contains(checkedTheme, '엑티비티')  ? 'checked' : null}" />
						<span class="me-3">엑티비티</span>
						<input type="checkbox" name="checkedTheme" value="봄꽃여행"
						th:checked="${#arrays.contains(checkedTheme, '봄꽃여행')  ? 'checked' : null}" />
						<span class="me-3">봄꽃여행</span>
						<input type="checkbox" name="checkedTheme" value="여름물놀이"
						th:checked="${#arrays.contains(checkedTheme, '여름물놀이')  ? 'checked' : null}" />
						<span class="me-3">여름물놀이</span>
						<input type="checkbox" name="checkedTheme" value="가을단풍명소"
						th:checked="${#arrays.contains(checkedTheme, '가을단풍명소')  ? 'checked' : null}" />
						<span class="me-3">가을단풍명소</span>
						<br>
						<input type="checkbox" name="checkedTheme" value="겨울눈꽃명소"
						th:checked="${#arrays.contains(checkedTheme, '겨울눈꽃명소')  ? 'checked' : null}" />
						<span class="me-3">겨울눈꽃명소</span>
						<input type="checkbox" name="checkedTheme" value="걷기길"
						th:checked="${#arrays.contains(checkedTheme, '걷기길')  ? 'checked' : null}" />
						<span class="me-3">걷기길</span>
					</div>
					<div class="col-1 subtitle pt-lg-3 border-bottom fw-bold">
						<p>부대시설</p>
					</div>
					<div class="col-11 pt-3 border-bottom">
						<input type="checkbox" name="checkedFclty" value="전기"
						th:checked="${#arrays.contains(checkedFclty, '전기')  ? 'checked' : null}" />
						<span class="me-3">전기</span>
						<input type="checkbox" name="checkedFclty" value="무선인터넷"
						th:checked="${#arrays.contains(checkedFclty, '무선인터넷')  ? 'checked' : null}" />
						<span class="me-3">무선인터넷</span>
						<input type="checkbox" name="checkedFclty" value="장작판매"
						th:checked="${#arrays.contains(checkedFclty, '장작판매')  ? 'checked' : null}" />
						<span class="me-3">장작판매</span>
						<input type="checkbox" name="checkedFclty" value="온수"
						th:checked="${#arrays.contains(checkedFclty, '온수')  ? 'checked' : null}" />
						<span class="me-3">온수</span>
						<input type="checkbox" name="checkedFclty" value="트렘폴린"
						th:checked="${#arrays.contains(checkedFclty, '트렘폴린')  ? 'checked' : null}" />
						<span class="me-3">트렘폴린</span>
						<input type="checkbox" name="checkedFclty" value="물놀이장"
						th:checked="${#arrays.contains(checkedFclty, '물놀이장')  ? 'checked' : null}" />
						<span class="me-3">물놀이장</span>
						<input type="checkbox" name="checkedFclty" value="놀이터"
						th:checked="${#arrays.contains(checkedFclty, '놀이터')  ? 'checked' : null}" />
						<span class="me-3">놀이터</span>
						<input type="checkbox" name="checkedFclty" value="산책로"
						th:checked="${#arrays.contains(checkedFclty, '산책로')  ? 'checked' : null}" />
						<span class="me-3">산책로</span>
						<input type="checkbox" name="checkedFclty" value="운동장"
						th:checked="${#arrays.contains(checkedFclty, '운동장')  ? 'checked' : null}" />
						<span class="me-3">운동장</span>
						<input type="checkbox" name="checkedFclty" value="운동시설"
						th:checked="${#arrays.contains(checkedFclty, '운동시설')  ? 'checked' : null}" />
						<span class="me-3">운동시설</span>
						<input type="checkbox" name="checkedFclty" value="마트"
						th:checked="${#arrays.contains(checkedFclty, '마트')  ? 'checked' : null}" />
						<span class="me-3">마트,편의점</span>
					</div>
					<div class="col-1 subtitle pt-lg-3 fw-bold">
						<p class="">기타정보</p>
					</div>
					<div class="col-11 pt-3">
						<input type="checkbox" name="checkedPet" value="가능"
						th:checked="${checkedPet.equals('가능')  ? 'checked' : null}" />
						<span class="me-3">반려 동물 동반가능</span>
						<br />
						<p>(※ 실제 결과는 현장사정 및 계절에 따라 달라질수 있으니 캠핑장 사업주에 직접 확인 후 이용바랍니다)</p>
					</div>
				</div>
			</div>
			<!-- 체크 박스 끝 -->
			</form>
		</section>
		<!-- =======================Main Banner END -->
		
		<!-- =======================Tabs START -->
		<!--여행지 제목 -->
		<section class="pt-2 text-black">
			<div class="container">
				<div class="row">
					<div class="col-4 subtitle">
						<th:block th:if="${list == null}">
							<div class="mb-2">총 <span class="campNum">0</span> 개의 캠핑장이 검색되었습니다.</div>
						</th:block>
						<th:block th:if="${list != null}">
							<div class="mb-2">총 <span class="campNum">[[${campingCount}]]</span> 개의 캠핑장이 검색되었습니다.</div>
						</th:block>
					</div>
					<div class="col-8 text-lg-end">
						<span class="text-secondary">기본순</span>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="camping">
					<th:block th:if="${list.size == 0}">
						<div>
							<h6>조회된 캠핑장이 없습니다.</h6>
						</div>
					</th:block>
					<th:block th:if="${list != null}">
					<th:block th:each="content, contentStat : ${list}">
					<!--캠핑 아이템1-->
					<div class="camping row border-bottom border-top">
						<div class="col-4 mt-4 mb-3">
						<th:block th:if="${content.firstImageUrl != ''}">
							<img class="campImg shadow-sm" th:src="@{${content.firstImageUrl}}" style="height: 260px;">
						</th:block>
						<th:block th:if="${content.firstImageUrl == ''}">
							<img class="campImg shadow-sm" th:src="@{/assets/campongimg/camp_noimg.png}">
						</th:block>
						</div>
						<div class="col-8 mt-4">
							<div class="review mt-2 p-1">리뷰 수 [[${content.reviewCount}]]</div>
							<div class="views p-1">조회 수 [[${content.readCount}]]</div>
							<div class="recommend p-1">찜 수 [[${content.bookmarkCount}]]</div>
							<div class="areaCampname">
							<a th:href="|/camping/camping-detail?contentId=${content.contentId}|">
								<span class="area">[ [[${content.doNm}]] [[${content.sigunguNm}]] ] </span>
								<span class="campName"> [[${content.facltNm}]] </span>
							</a>
							</div>
							<p class="mt-2"><i class="bi bi-geo-alt me-2"></i> [[${content.addr1}]]
								<a th:href="@{#}" class="ms-2 text-decoration-underline" data-bs-toggle="modal"
									data-bs-target="#mapmodal">
								</a>
							</p>
							<div th:id="|sbrsCl${contentStat.count}|" class="iconBar mt-4 pt-2 px-2">
								<script>
								$(document).ready(function(){
									var idx = "[[${contentStat.count}]]";
									var str = "[[${content.sbrsCl}]]";
									var sbrsClList = str.split(",");
									var target = document.getElementById('sbrsCl'+idx);
									var list = "";
									var stopNum = 1;
									
									sbrsClList.some(sbrsCl => {
										var picNm = "";
										
										if(stopNum > 6){
											list += `<div class="emoteGroup">
												<img class="emote2" src="/assets/campongimg/점.png" />
												<div class="emoteName2">&nbsp;</div>
											</div>`;
											return true;
										}
										
										if(sbrsCl.includes('전기')){
											picNm = 'electronic';
										}else if(sbrsCl.includes('장작판매')){
											picNm = 'firewood';
										}else if(sbrsCl.includes('온수')){
											picNm = 'onsu';
										}else if(sbrsCl.includes('물놀이장')){
											picNm = 'swim';
										}else if(sbrsCl.includes('산책로')){
											picNm = 'tree';
										}else if(sbrsCl.includes('운동장')){
											picNm = 'playground';
										}else if(sbrsCl.includes('마트') || sbrsCl.includes('편의')){
											picNm = 'mart';
										}else if(sbrsCl.includes('무선인터넷')){
											picNm = 'wifi';
										}else if(sbrsCl.includes('운동시설')){
											picNm = 'exercise';
										}else if(sbrsCl.includes('놀이터')){
											picNm = 'playground1';
										}else if(sbrsCl.includes('트렘폴린')){
											picNm = 'trampoline';
										}
										
										if(picNm) {
											list += `<div class="emoteGroup">
												<img class="emote2" src="/assets/campongimg/${picNm}.png" />
												<div class="emoteName2">${sbrsCl}</div>
											</div>`;
											stopNum++;
										}else if(!picNm){
											list += `<br><h5 class="ms-3"> 시설 정보 없음 </h5>`;
											return true;
										}
									});
									
									target.innerHTML = list;	
								})
								</script>
							</div>
						</div>
					</div>
					<!--캠핑 아이템1끝-->
					</th:block>
					</th:block>
				</div>
			</div>
		</section>
		<!-- 페이징 -->
				<th:block th:if="${list.size == 0}">
						<div></div>
					</th:block>
					<th:block th:if="${list.size != 0}">
				<div class="row" style="margin-top:50px; margin-bottom:50px;">
					<div class="col-12">
						<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
							<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
								<!--이전 페이지 -->
								<li class="page-item mb-0">
									<button class="page-link"
										th:onclick="|movePage('${pageInfo.prevPage}');|" tabindex="-1">
										<i class="fa-solid fa-angle-left"></i>
									</button>
								</li>
											
								<!-- 10개 페이지 -->
								<th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
									<th:block th:if="${status.current == pageInfo.currentPage}">
										<li class="page-item mb-0">
											<button class="page-link active" th:onclick="|movePage('${status.current}');|" disabled>
											[[${status.current}]]
											</button>
										</li>
									</th:block>
									<th:block th:if="${status.current != pageInfo.currentPage}">
										<li class="page-item mb-0">
											<button class="page-link" th:onclick="|movePage('${status.current}');|">
											[[${status.current}]]
											</button>
										</li>
									</th:block>
								</th:block>
								
								<!--다음 페이지 -->
								<li class="page-item mb-0">
									<button class="page-link" th:onclick="|movePage('${pageInfo.nextPage}');|">
										<i class="fa-solid fa-angle-right"></i>
									</button>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- Pagination END-->


	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- =======================Footer START -->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	<!-- =======================Footer END -->
	
	<script th:src="@{/assets/vendor/splide-master/dist/js/splide.min.js}"></script>
	
	<script type="text/javascript">
// 	function movePage(pageUrl){
// 		var searchValue = document.getElementById("searchValue");
// 		var sido = document.getElementById("sido");
// 		var gugun = document.getElementById("gugun");
// 		var lctCl = document.getElementById("lctCl");
// 		<!--검색 필터-->
// 		var checkedThemes = document.getElementsByName("checkedTheme");
// 		var checkedTheme = 'checkedTheme';
		
// 		var checkedFcltys = document.getElementsByName("checkedFclty");
// 		var checkedFclty = 'checkedFclty';
		
// 		var checkedPets = document.getElementsByName("checkedPet");
// 		var checkedPet = 'checkedPet';
		
		
// 		if(sido.selectd == true){
// 			pageUrl = pageUrl + '&sido=' + sido.value; 
// 		}
// 		if(gugun.selectd == true){
// 			pageUrl = pageUrl + '&gugun=' + gugun.value; 
// 		}
// 		if(lctCl.selectd == true){
// 			pageUrl = pageUrl + '&lctCl=' + lctCl.value; 
// 		}
// 		for(var i = 0; i < checkedThemes.length; i++){
// 			if(checkedThemes[i].checked == true){
// 				pageUrl += '&checkedTheme=' + checkedThemes[i].value;
// 			}
// 		}
// 		for(var i = 0; i < checkedFcltys.length; i++){
// 			if(checkedFcltys[i].checked == true){
// 				pageUrl += '&checkedFclty=' + checkedFcltys[i].value;
// 			}
// 		}
// 		for(var i = 0; i < checkedPets.length; i++){
// 			if(checkedPets[i].checked == true){
// 				pageUrl += '&checkedPet=' + checkedPets[i].value;
// 			}
// 		}
// 		if(searchValue.value.length > 0){
// 			pageUrl = pageUrl + '&searchValue=' + searchValue.value; 
// 		}
// 		location.href = encodeURI(pageUrl);	
// 	}
	// 검색필터유지하고 페이징
	function movePage(pageNum){
		var form = document.getElementById("cardForm");
		var page = document.getElementById("page");
		page.value = pageNum;
		form.submit();
	}
	</script>

</body>

</html>