<!DOCTYPE html>
<html lang="en">
<head>
	<!-- test -->
	<title>캠퐁 - 캠핑에 퐁당 빠지다</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script type="text/javascript">
		var theme = localStorage.getItem('data-theme');
		var root = document.documentElement;
		if (theme === 'dark' && theme !== undefined) {
			root.classList.add('dark-mode');
		} else {
			root.classList.remove('dark-mode');
		}
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/total-style.css">

	<!-- SUIT 폰트 추가-->
	<link href="https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css" rel="stylesheet">

	<style>

		tr {
			height: 62px;
			color: #333333;
		}
		th {
			text-align: center;
			font-size: 1rem;
		}
		.board_main_image {
			margin: auto;
    	display: block;
		}
		.board_tag {
			width: 95px;
			text-align: center;
		}
		.board_title {
			width: 620px;
		}
		.board_write {
			width: 190px;
			text-align: center;
		}
		.board_date {
			width: 190px;
			text-align: center;
		}
		.board_hit {
			width: 95px;
			text-align: center;
		}
		.border-top-1 {
			border-top: 2px var(--bs-border-style) var(--bs-black) !important;
		}
		.main_title {
			text-align: center;
			margin: auto;
    	display: block;
			width: 350px;
		}
		.badge-1 {
			--bs-badge-padding-x: 0.45em;
			--bs-badge-padding-y: 0.35em;
			--bs-badge-font-size: 0.9em;
			--bs-badge-font-weight: 400;
			--bs-badge-color: #fff;
			--bs-badge-border-radius: 0.375rem;
			display: inline-block;
			padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
			font-size: var(--bs-badge-font-size);
			font-weight: var(--bs-badge-font-weight);
			line-height: 1;
			color: var(--bs-badge-color);
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: var(--bs-badge-border-radius);
		}
		a {
			color: #333333;
		}
		a:hover {
    	color: #333333;
		}
		.search_title_content {
			text-align: center;
			margin: auto;
    	display: block;
		}
	</style>
</head>

<body>
<!-- Header START -->
<header class="header-nophoto" id="header">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-dark navbar-expand-xl" style="height: 70px;">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo_cam.png" alt="logo" style="height: 55px;">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto me-3 p-0" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<nav class="navbar-collapse collapse nav-item d-flex justify-content-between" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll mx-auto align-items-center ">

					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">캠핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">

							<li> <a class="dropdown-item" href="camping-main.html">캠핑장</a></li>
							<li> <a class="dropdown-item" href="bagpacking-main.html">백패킹</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">쇼핑</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">

							<li> <a class="dropdown-item" href="shopping.html">쇼핑메인</a></li>
							<li> <a class="dropdown-item" href="shopping-basket.html">장바구니</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">커뮤니티</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="board-list.html">게시판</a></li>
							<li> <a class="dropdown-item" href="moim.html">캠핑모임</a></li>
							<li> <a class="dropdown-item" href="recipe.html">캠핑꿀팁</a></li>
						</ul>
					</li>
					<!-- Nav item Listing -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="listingMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">교통</a>
						<ul class="dropdown-menu" aria-labelledby="listingMenu">
							<li> <a class="dropdown-item" href="traffic-car.html">렌트카</a></li>
							<li> <a class="dropdown-item" href="traffic-bus.html">고속버스</a></li>
							<li> <a class="dropdown-item" href="traffic-train.html">열차</a></li>
						</ul>
					</li>
					<!-- Nav item Link -->
					<li class="nav-item"> <a class="nav-link" id="listingMenu" href="event.html">행사</a> </li>
				</ul>
				<!-- 헤더 가운데 끝-->
				<!-- 헤더 오른쪽 -->
				<!--로그인전-->
				<div class="">
					<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
						<li class="nav-item"> <a class="nav-link" id="listingMenu" href="sign-in.html">로그인</a> </li>
					</ul>
				</div>
				<!-- 로그인후 -->
				<!--<div class="">
				<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">닉네임</a> </li>
				</ul>
			</div>
			<div class="">
				<ul class="navbar-nav navbar-nav-scroll mx-auto" style="float:right">
					<li class="nav-item"> <a class="nav-link" id="listingMenu"  href="#">로그아웃</a> </li>
				</ul>
			</div>-->
				<!-- 로그인후 끝-->
			</nav>

			<!--
		<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
			<li class="nav-item dropdown">
				<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">xx님</a> </li>
				<li class="nav-item"> <a class="nav-link" href="#" id="nickname" style="color:aliceblue">로그아웃</a> </li>
			</li>
		</ul>
		-->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>

<!-- **************** MAIN CONTENT START **************** -->
<main>
<section class="py-0 mt-8">
	<div class="container">
		<!-- Title -->
		<div class="row g-4">
			<!-- Image -->
			<div class="col-12">
				<img src="assets/images/board/board.png" class="rounded-3 board_main_image" alt="">
			</div>
			<!-- Title and content -->
			<div class="mx-auto position-relative mt-sm-n7">
				<div class="bg-mode shadow rounded-3 p-4 main_title">
					<!-- Title -->
					<h1 class="fs-3 ">자유게시판</h1>
					
				</div>
			</div>
		</div>

		<!-- Search START -->
		<div class="col-xl-7 mx-auto">
			<div class="bg-blur bg-white bg-opacity-10 border border-light border-opacity-25 rounded-3 p-4 mt-3">
				<!-- Form START -->
				<form class="row g-3 justify-content-center align-items-center">
					<div class="col-lg-10">
						<!-- Input -->
						<div class="form-input-dropdown position-relative">
							<input class="form-control form-control-lg me-1 ps-5" type="text" placeholder="게시글을 검색하세요">
							<!-- Icon -->
							<span class="position-absolute top-50 start-0 translate-middle ps-5"><i class="bi bi-search fs-5"></i></span>
						</div>
						
					</div>

					<div class="col-lg-2 d-grid">
						<!-- Search -->
						<a class="btn btn-lg btn-primary mb-0" href="#">검색</a>
					</div>
				</form>
				<!-- Form END -->
			</div>
		</div>	
		<!-- Search END -->

		<!-- 검색 라디오버튼 -->
		<div class="search_title_content">
			<label for="title">
				<input class="me-1" type="radio" name="search_check" id="title" value="ti" checked="checked">제목
			</label>
			<label for="title_content">
				<input class="ms-3 me-1" type="radio" name="search_check" id="title_content" value="ti_co">제목+내용
			</label>
		</div>
		<!-- 검색 라디오버튼 끝 -->

	</div>
</section>
<!-- =======================
Main banner START -->

<section class="pt-4 pt-md-5">
	<div class="container">

		<!-- 게시글 시작 -->
		<div class="board_list">
			<table class="table_list">
				<tr class="border-top-1 border-bottom bg-light">
					<th>분류</th>
					<th>제목</th>
					<th>작성자</th>
					<th>등록일</th>
					<th>조회수</th>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">11</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-success">자유</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">닉네임은최대몇자일까</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">5</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-success">자유</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">23</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-success">자유</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">11자부터 2줄된다</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">13</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">2줄되도 열간격 안벌어진다</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
				<tr class="border-bottom">
					<td class="board_tag"><span class="badge-1 text-bg-info">질문</span></td>
					<td class="board_title"><a href="./board-view.html">안녕하세요?</a></td>
					<td class="board_write">이동건</td>
					<td class="board_date">2023-01-27</td>
					<td class="board_hit">7</td>
				</tr>
			</table>
			<!-- 글쓰기버튼 -->
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-primary mt-3">글쓰기<i class="bi fa-fw bi-arrow-right ms-2"></i></button>
			</div>
		</div>
		<!-- 게시글 끝 -->
	
		<!-- 페이징 -->
		<div class="row">
			<div class="col-12">
				<nav class="mt-7 my-4 d-flex justify-content-center" aria-label="navigation">
					<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
						<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i
									class="fa-solid fa-angle-left"></i></a></li>
						<li class="page-item mb-0 active"><a class="page-link" href="#">1</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">2</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">4</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">5</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">10</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#"><i
									class="fa-solid fa-angle-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</section>
<!-- =======================
Main banner START -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->
<footer class="bg-dark py-5">
	<div class="container">
	<div class="row mx-auto">
	<div class="col-md-10 col-xl-6 mx-auto text-center">
	<!-- Logo -->
	<img class="mx-auto h-60px mb-3" src="assets/images/logo_cam.png" alt="logo">
	<!-- 팀원 -->
	<ul class="nav justify-content-between text-primary-hover mt-3 mt-md-0">
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">이동건</a></li>
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">김재혁</a></li>
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">박윤희</a></li>
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">백인화</a></li>
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">이상진</a></li>
	<li class="nav-item"><a class="nav-link p-2 text-white" href="#">이유광</a></li>
	</ul>
	<div class="text-muted text-primary-hover mt-0"> Copyrights ©2023. Multicampus Fullstack Team2 CAMPONG.<br>All rights reserved. </div>
	</div>
</footer>
<!-- =======================Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>