<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.campong.car.model.mapper.CarMapper">

	<resultMap type="Car" id="CarResultMap">
		<id property="rentNo" column="RENT_NO"/>
		<result property="entrpsNm" column="ENTRPSNM"/>
		<result property="rdnmadr" column="RDNMADR"/> 
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="phoneNumber" column="PHONENUMBER"/>
		<result property="homepageUrl" column="HOMEPAGEURL"/>
	</resultMap>
	
	<resultMap type="Bus" id="BusResultMap">
		<id property="ticketNo" column="TICKET_NO"/>
		<result property="mNo" column="USER_NO"/>
		<result property="arrPlaceNm" column="ARRPLACENM"/> <!-- 출발위치 -->
		<result property="arrPlandTime" column="ARRPLANDTIME"/> <!-- 출발시간 -->
		<result property="charge" column="CHARGE"/> <!-- 요금 -->
		<result property="depPlaceNm" column="DEPPLACENM"/> <!-- 도착위치 -->
		<result property="depPlandTime" column="DEPPLANDTIME"/> <!-- 도착시간 -->
		<result property="gradeNm" column="GRADENM"/> <!-- 등급 -->
	</resultMap>
	
	<resultMap type="Train" id="TrainResultMap">
		<id property="ticketNo" column="TICKET_NO"/>
		<result property="mNo" column="USER_NO"/>
		<result property="arrPlaceNm" column="ARRPLACENM"/> <!-- 출발위치 -->
		<result property="arrPlandTime" column="ARRPLANDTIME"/> <!-- 출발시간 -->
		<result property="charge" column="CHARGE"/> <!-- 요금 -->
		<result property="depPlaceNm" column="DEPPLACENM"/> <!-- 도착위치 -->
		<result property="depPlandTime" column="DEPPLANDTIME"/> <!-- 도착시간 -->
		<result property="gradeNm" column="GRADENM"/> <!-- 등급 -->
	</resultMap>

 	<select id="selectCarCount" resultType="int" parameterType="map">
		SELECT COUNT(*) FROM RENT 
		WHERE 1=1
		<if test="searchValue != null">
			AND ENTRPSNM LIKE '%${searchValue}%' 
		</if>		
	</select>

	<select id="selectCarList" resultMap="CarResultMap" parameterType="map">
	<!-- <select id="selectCarList" resultType="Car" parameterType="map"> -->
		SELECT 
			RENT_NO, ENTRPSNM, RDNMADR, LATITUDE, LONGITUDE, PHONENUMBER, HOMEPAGEURL
		FROM RENT 
		WHERE 1=1
		<if test="city != null">
		AND RDNMADR LIKE '%${city}%' 
		</if>		
		ORDER BY RENT_NO DESC LIMIT ${limit} OFFSET ${offset}
	</select> 
	
	<select id="selectCarByNo" resultType="Car" parameterType="int">
		SELECT * FROM RENT 
		WHERE RENT_NO = #{RENT_NO}
	</select>
	
	
	
	<!-- 버스 -->
	<select id="selectBusTicketList" resultMap="BusResultMap" parameterType="map">
		SELECT 
			TICKET_NO, USER_NO, ARRPLACENM, ARRPLANDTIME, CHARGE, DEPPLACENM, DEPPLANDTIME, GRADENM
		FROM BUS_TICKET	
		WHERE USER_NO = #{mNo}
	</select> 
	
	<insert id="insertBookingBus" parameterType="Bus">
		INSERT INTO BUS_TICKET(
			TICKET_NO, USER_NO, ARRPLACENM, ARRPLANDTIME,
			CHARGE, DEPPLACENM, DEPPLANDTIME, GRADENM
		) VALUES (
			0, #{mNo}, #{arrPlaceNm}, #{arrPlandTime},
			#{charge}, #{depPlaceNm}, #{depPlandTime}, #{gradeNm}
		)
	</insert>
	
	<delete id="allBusDelete">
		DELETE FROM BUS_TICKET WHERE USER_NO=#{mNo}
	</delete>
	
	<delete id="allTrainTicket">
		DELETE FROM TRAIN_TICKET WHERE USER_NO=#{mNo}
	</delete>
	
	<!-- 열차 -->
	<select id="selectTrainTicketList" resultMap="TrainResultMap" parameterType="map">
		SELECT 
			TICKET_NO, USER_NO, ARRPLACENM, ARRPLANDTIME, CHARGE, DEPPLACENM, DEPPLANDTIME, GRADENM
		FROM TRAIN_TICKET	
		WHERE USER_NO = #{mNo}
	</select> 
	
	<insert id="insertBookingTrain" parameterType="Train">
		INSERT INTO TRAIN_TICKET(
			TICKET_NO, USER_NO, ARRPLACENM, ARRPLANDTIME,
			CHARGE, DEPPLACENM, DEPPLANDTIME, GRADENM
		) VALUES (
			0, #{mNo}, #{arrPlaceNm}, #{arrPlandTime},
			#{charge}, #{depPlaceNm}, #{depPlandTime}, #{gradeNm}
		)
	</insert>
	
	<delete id="deleteBusTicket" parameterType="int">
		DELETE FROM BUS_TICKET WHERE TICKET_NO=#{ticketNo}
	</delete>
	<delete id="deleteTrainTicket" parameterType="int">
		DELETE FROM TRAIN_TICKET WHERE TICKET_NO=#{ticketNo}
	</delete>
</mapper>