:root {
--cp-green: #019267;
--cp-purple: #9D7EE0;
}

/*섹션 패딩바텀*/
.bih-s-2{
  padding-bottom: 0px;
}
/*교통 패딩바텀*/
.bih-s-3{
  padding-bottom: 100px;
}

/*검색배너*/
.bih-s-1{
  padding-top: 130px;
  padding-bottom: 0;
}
.bih-d-7{
  width: 30%;
}
.bih-d-8{
  width: 50%;
}


/*지역별 추천 캠핑장*/
.bih-tb-1{
  height: 530px;
}
.bih-tb-2{
  width:340px;
  height:220px;
  overflow:hidden;
  margin:0 auto;
}
.bih-i-2{
  width:100%;
    height:100%;
    object-fit:cover;
}
.bih-i-3{
  height: 610px;
}
.bih-i-4{
  text-align: center;
}

/*추천 백패킹*/
.bih-i-5{
  width:275px;
  height:275px;
  overflow:hidden;
  margin:0 auto;
}
.bih-i-6{
  width:100%;
    height:100%;
    object-fit:cover;
}


/*쇼핑하기*/
.bih-d-6{
  width: 100%;
}

/*커뮤니티*/
.bih-w-1{
  width: 55% !important;
}
.bih-w-2{
  width: 45%!important;
}
.bih-b-1{
  border: 0ch;
  background-color: var(--cp-purple);
  color: aliceblue;
}


/*행사*/
.bih-w-3{
  width: 100%!important;
}
.bih-d-3{
  display: inline-block;
}
.bih-d-1{
  width: 850px;
}
.bih-i-1{
  padding-right: 10px;
}
.bih-d-2{
  width: 300px;
}
.bih-d-1{
  margin-bottom: -30px;
}


/*교통*/
.bih-d-4{
  height: 200px;
}

/* 전국지도 */
.land
{
  fill: #d6d6d6;
  fill-opacity: 1;
  stroke:white;
  stroke-opacity: 1;
  stroke-width:1.5;
}
.land:hover{
  fill: #019267;
  cursor: pointer;
}

/* 지도에 지역 마우스 오버시 나오는 텍스트 박스 */
#info-box {
  display:none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #9D7EE0;
  /* border: 2px solid #BF0A30; */
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 600;
}