.bih-d-1{
  width: 100%;
}

.bih-d-2{
  width: 50%;
}
.bih-d-3{
  width: 100%;
}
.bih-d-4{
  margin-top: -13px;
}
.bih-d-5{
  margin-top: -38px;
}
.bih-d-6{
  margin-top: 70px;
}
.bih-t-1{
  z-index: 1;
  position: relative;
}
option, .bih-f-1{
  color:#5e5e5f;
}

.icon-md {
  background-color: #019267 !important;
}