<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{common/layout :: head}"></th:block>
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main content START -->
<section class="pt-4 pt-8">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xl-8 mx-auto">

				<div class="card shadow">
					<!-- Image -->
					<img th:src="@{/assets/images/confirm/04.jpg}" class="rounded-top" alt="">

					<!-- Card body -->
					<div class="card-body text-center p-4">
						<!-- Title -->
						<h1 class="card fs-3">🎊 예약이 완료됐습니다! 🎊</h1>
						<p class="lead mb-3"><a th:href="@{/myprofile(mNo=${session.mvo.mNo})}" style="font-weight: 600; ">[[${session.mvo.id}]]의 마이페이지</a> 에서 예약정보를 확인할 수 있습니다.</p>

						<!-- List -->
						<div class="row justify-content-between text-start mb-4">
							<div class="" style="margin-left:20px; margin-top:15px">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item  justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-patch-check fa-fw me-2"></i>업체 이름 | </span>
										<span class="h6 fw-normal mb-0">[[${content.entrpsNm}]]</span>
									</li>
									<li class="list-group-item  justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-geo-alt fa-fw me-2"></i>업체 주소 | </span>
										<span class="h6 fw-normal mb-0">[[${content.rdnmadr}]]</span>
									</li>
									<li class="list-group-item  justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-telephone fa-fw me-2"></i>업체 번호 | </span>
										<span class="h6  mb-0">[[${content.phoneNumber}]]</span>
									</li>
									<li class="list-group-item  justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar-check fa-fw me-2"></i>예약 일자 | </span>
										<span class="h6 fw-normal mb-0" id="current_date"></span>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="d-sm-flex justify-content-sm-end d-grid">
							<a th:href="@{/car/traffic-car}" style="color:white; margin-right:10px;" class="btn search-btn mb-0">&nbsp&nbsp&nbsp렌트카 계속보기&nbsp&nbsp&nbsp</a>
							<a th:href="@{/}" class="btn btn-primary mb-0">&nbsp&nbsp&nbsp홈으로 돌아가기&nbsp&nbsp&nbsp</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- =======================
Main content START -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->
<footer th:replace="~{common/layout :: #footer}"></footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

<!-- 오늘날짜 -->
<script>
date = new Date();
year = date.getFullYear();
month = date.getMonth() + 1;
day = date.getDate();
document.getElementById("current_date").innerHTML = year + "년 " + month + "월 " + day + "일";
</script>

</body>
</html>