<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{common/layout :: head}"></th:block>
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main content START -->
<section class="pt-4 pt-8">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xl-8 mx-auto">

				<div class="card shadow">
					<!-- Image -->
					<img th:src="@{/assets/images/confirm/04.jpg}" class="rounded-top" alt="">

					<!-- Card body -->
					<div class="card-body text-center p-4">
						<!-- Title -->
						<h1 class="card fs-3">🎊 예약이 완료됐습니다! 🎊</h1>
						<p class="lead mb-3">마이페이지에서 예약정보를 확인할 수 있습니다.</p>

						<!-- Second title -->
						<h5 class="text-primary changesub mb-4 fw-bold">[[${content.entrpsNm}]]</h5>

						<!-- List -->
						<div class="row justify-content-between text-start mb-4">
							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-vr fa-fw me-2"></i>ID:</span>
										<span class="h6 fw-normal mb-0">캠핑맨</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>예약자:</span>
										<span class="h6 fw-normal mb-0">조인성</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-wallet2 fa-fw me-2"></i>결제수단:</span>
										<span class="h6 fw-normal mb-0">samsung card</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-currency-dollar fa-fw me-2"></i>결제 가격:</span>
										<span class="h6 fw-normal mb-0">72000 원</span>
									</li>
								</ul>
							</div>

							<div class="col-lg-5">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>예약일자:</span>
										<span class="h6 fw-normal mb-0">2023년 1월 27일</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-calendar fa-fw me-2"></i>출발일자:</span>
										<span class="h6 fw-normal mb-0">2023년 2월 22일</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="bi bi-people fa-fw me-2"></i>동행자:</span>
										<span class="h6 fw-normal mb-0">3</span>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="d-sm-flex justify-content-sm-end d-grid">
							<a th:href="@{/}" class="btn btn-primary mb-0">&nbsp&nbsp&nbsp홈으로 돌아가기&nbsp&nbsp&nbsp</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- =======================
Main content START -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->
<footer th:replace="~{common/layout :: #footer}"></footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>