<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{common/layout :: head}"></th:block>
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>

	<main>
		<section>
			<div class="container mt-8 mb-8">
				<div class="row">
					<!-- 사이드바 -->
					<th:block th:replace="~{common/layout :: #sideBar}"></th:block>
					<!-- 사이드바 끝 -->

					<!-- Main content START -->
					<div class="col-lg-8 col-xl-9 ps-xl-5">

						<!-- Offcanvas menu button -->
						<div class="d-grid mb-0 d-lg-none w-100">
							<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
								data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
								<i class="fas fa-sliders-h"></i> Menu
							</button>
						</div>

						<div class="vstack gap-4 mb-7">
							<div class="card border shadow-sm">

							<!-- Card header -->
							<div class="card-header border-bottom">
								<h4 class="card-header-title ps-1">교통예약</h4>
							</div>

							<!-- Card body START -->
							<div class="card-body">

								<!-- Tabs content START -->
								<div class="tab-content p-sm-4" id="nav-tabContent">

									<!-- Tab content item START -->
									<div class="tab-pane fade show active" id="tab-1">
									<th:block th:if="${list.size() == 0} and ${list1.size() == 0}">
										<div class="text-center my-8 py-5">
											<h5>예약 내역이 없습니다.</h5>
										</div>
									</th:block>
									<th:block th:if="${list != null}">
									<th:block th:each="content, contentStat : ${list}">
										<!-- 아이템 START -->
										<div class="card border mb-5">
											<!-- Card header -->
											<div
												class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
												<!-- Icon and Title -->
												<div class="d-flex align-items-center">
													<div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
															class='fas fa-bus'></i></div>
													<!-- Title -->
													<div class="ms-2">
														<h6 class="card-title mb-0">캠퐁고속</h6>
														<ul class="nav nav-divider small">
															<li class="nav-item">등급 : [[${content.gradeNm}]]</li>
														</ul>
													</div>
												</div>
												<!-- Button -->
												<div class="mt-2 mt-md-0">
													<span class="btn btn-primary-soft mb-0">&nbsp&nbsp&nbsp사용대기&nbsp&nbsp&nbsp</span>
													<a th:href="|/car/deleteBusTicket?ticketNo=${content.ticketNo}|"
														class="btn btn-danger-soft mb-0"><i class="bi bi-trash3"></i></a>
												</div>
											</div>



											<!-- Card body -->
											<div class="card-body">
												<div class="row g-3">
													<div class="col-sm-6 col-md-4">
														<span>승차지</span>
														<h6 class="mb-0">[[${content.depPlaceNm}]]</h6>
													</div>

													<div class="col-sm-6 col-md-4">
														<span>하차지</span>
														<h6 class="mb-0">[[${content.arrPlaceNm}]]</h6>
													</div>

													<div class="col-md-4">
														<span>탑승일</span>
<!-- 														<h6 class="mb-0">[[${content.depPlandTime}]]</h6> -->
														<h6 th:id="|depTime${contentStat.count}|" class="mb-0">
														<script>
															$(document).ready(function() {
																var idx = "[[${contentStat.count}]]";
																var depPlandTime = "[[${content.depPlandTime}]]";
																var depTimeTag = document.getElementById("depTime"+idx);

																var result = depPlandTime.substring(0, 4) + "." + depPlandTime.substring(4, 6) + "." + depPlandTime.substring(6, 8) 
																				+ " " + depPlandTime.substring(8, 10) + ":" + depPlandTime.substring(10, 12);
																
																depTimeTag.innerHTML = result;
															})
														</script>
														</h6>
													</div>
												</div>
											</div>
										</div>
										<!-- 아이템 END -->
									</th:block>
									</th:block>
									<th:block th:if="${list1 != null}">
									<th:block th:each="content1, contentStat1 : ${list1}">
										<!-- 열차 -->
										<div class="card border mb-5">
											<!-- Card header -->
											<div
												class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
												<!-- Icon and Title -->
												<div class="d-flex align-items-center">
													<div class="icon-lg bg-light rounded-circle flex-shrink-0"><i
															class='fas fa-subway'></i></div>
													<!-- Title -->
													<div class="ms-2">
														<h6 class="card-title mb-0">[[${content1.gradeNm}]]</h6>
														<ul class="nav nav-divider small">
															<li class="nav-item">일반석</li>
														</ul>
													</div>
												</div>
												<!-- Button -->
												<div class="mt-2 mt-md-0">
													<a href="#"
														class="btn btn-primary-soft mb-0">&nbsp&nbsp&nbsp사용대기&nbsp&nbsp&nbsp</a>
													<a th:href="|/car/deleteTrainTicket?ticketNo=${content1.ticketNo}|"
														class="btn btn-danger-soft mb-0"><i class="bi bi-trash3"></i></a>
												</div>
											</div>

											<!-- Card body -->
											<div class="card-body">
												<div class="row g-3">
													<div class="col-sm-6 col-md-4">
														<span>승차역</span>
														<h6 class="mb-0">[[${content1.depPlaceNm}]]</h6>
													</div>

													<div class="col-sm-6 col-md-4">
														<span>하차역</span>
														<h6 class="mb-0">[[${content1.arrPlaceNm}]]</h6>
													</div>

													<div class="col-md-4">
														<span>탑승일</span>
														<h6 th:id="|depTimeB${contentStat1.count}|" class="mb-0">
														<script>
															$(document).ready(function() {
																var idx = "[[${contentStat1.count}]]";
																var depPlandTime1 = "[[${content1.depPlandTime}]]";
																var depTimeTagB = document.getElementById("depTimeB"+idx);

																var result = depPlandTime1.substring(0, 4) + "." + depPlandTime1.substring(4, 6) + "." + depPlandTime1.substring(6, 8) 
																				+ " " + depPlandTime1.substring(8, 10) + ":" + depPlandTime1.substring(10, 12);
																
																depTimeTagB.innerHTML = result;
															})
														</script>
														</h6>
													</div>
												</div>
											</div>
										</div>
										<!-- Card item END -->
										</th:block>
										</th:block>

<!-- 										렌트카 -->
<!-- 										<div class="card border"> -->
<!-- 											Card header -->
<!-- 											<div -->
<!-- 												class="card-header border-bottom d-md-flex justify-content-md-between align-items-center"> -->
<!-- 												Icon and Title -->
<!-- 												<div class="d-flex align-items-center"> -->
<!-- 													<div class="icon-lg bg-light rounded-circle flex-shrink-0"><i -->
<!-- 															class="fa-solid fa-car"></i></div> -->
<!-- 													Title -->
<!-- 													<div class="ms-2"> -->
<!-- 														<h6 class="card-title mb-0">마이렌트카</h6> -->
<!-- 														<ul class="nav nav-divider small"> -->
<!-- 															<li class="nav-item"><i class="bi bi-geo-alt"></i> 서울시 산천로 -->
<!-- 																연남로 32</li> -->
<!-- 															<li class="nav-item"><i class="bi bi-telephone"></i> -->
<!-- 																023-234-4234</li> -->
<!-- 														</ul> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 												Button -->
<!-- 												<div class="mt-2 mt-md-0"> -->
<!-- 													<a th:href="@{#}" -->
<!-- 														class="btn btn-danger-soft mb-0">&nbsp&nbsp&nbsp사용만료&nbsp&nbsp&nbsp</a> -->
<!-- 												</div> -->
<!-- 											</div> -->

<!-- 											Card body -->
<!-- 											<div class="card-body"> -->
<!-- 												<div class="row g-3"> -->
<!-- 													<div class="col-sm-6 col-md-4"> -->
<!-- 														<span>대여장소</span> -->
<!-- 														<h6 class="mb-0">마이렌트카 서울지점</h6> -->
<!-- 													</div> -->

<!-- 													<div class="col-sm-6 col-md-4"> -->
<!-- 														<span>반납장소</span> -->
<!-- 														<h6 class="mb-0">마이렌트카 부산지점</h6> -->
<!-- 													</div> -->

<!-- 													<div class="col-md-4"> -->
<!-- 														<span>대여일</span> -->
<!-- 														<h6 class="mb-0">2023.02.01</h6> -->
<!-- 													</div> -->
<!-- 												</div> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 										Card item END -->
									</div>
									<!-- Tabs content item END -->

								</div>

							</div>
							<!-- Card body END -->
						</div>
					</div>
					</div>
					<!-- Main content END -->
				</div>
			</div>
		</section>

	</main>

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- =======================Footer START -->
	<footer th:replace="~{common/layout :: #footer}"></footer>
	<!-- =======================Footer END -->

</body>

</html>