<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{common/layout :: head}"></th:block>

<!-- Dark mode -->
<script type="text/javascript">
	var form = {
			u
	}
	</script>

<!-- Favicon -->
<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">

<!-- CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/moim.css}">

</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>
	<main>

		<!-- =======================Main banner START -->
		<section class="pt-4">
			<div class="container">
				<img th:src="@{/assets/images/moim/moimTop.jpg}" alt="">
			</div>
		</section>
		<!-- =======================
Main banner START -->


		<!-- 모집 공간-->
		<section class="py-0 mt-0">
			<div class="container">
				<!-- Team START -->

			</div>
		</section>
		<!-- 모집 공간 -->
		<!-- 파티원 모집-->
		<section class="card-grid pt-0 pb-2 mt-4">
			<div class="container">
				<div class="row g-0">
					<div class="col-10">
						<div class="form-label fw-bold">모임 목록</div>
					</div>
					<div class="col-2 fw-bold">
						<a th:if="${session.mvo != null}" href="/moim.create"
							class="moim-create">모임 생성</a>
					</div>
				</div>
				<!-- 대표 이미지 -->
				<div class="col-md-12 mt-3 pt-2">
					<div class="row pt-2">
						<div class="col-3" th:each="list : ${list}" th:unless="${session.mvo ==null}">
							<a th:href="${'moim.detail?meetNo='+list.meetNo+'&mNo='+session.mvo.mNo}">
								<div class="group-items shadow-sm">
									<div class="item-content">
										<div class="item-name" th:text="${list.title}">가평 캠핑장</div>
										<div class="item-condition" th:text="${list.ageRange}"
											style="color: black;">나이제한:20~29살</div>
										<div class="item-condition" th:text="${list.gender}"
											style="color: black;">남자모임</div>
										<div class="people mt-3">
											<img class="peopleimg" src="assets/campongimg/peopleO.png"
												th:each='num: ${#numbers.sequence(list.apes-list.count,list.apes-1)}'>
											<img class="peopleimg" src="assets/campongimg/peopleX.png"
												th:each='num: ${#numbers.sequence(1,list.apes-list.count)}'
												th:if="${list.apes !=list.count}">
										</div>
										<div class="item-date mt-3"
											th:text="${'모집기간 : '+ list.endDate +'일까지'}"
											style="color: black;"></div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-4" th:if="${session.mvo == null}">
							<h5 style="color:green;">캠퐁에 가입하고 모임에 가입해보세요.</h5>
						</div>
					</div>
					<!-- 대표 이미지끝-->
				</div>
			</div>
		</section>
		<!-- 파티원 모집 끝-->

		<!--페이지-->
		<!--
<div class="pagination">
	<nav class="mt-4" aria-label="navigation">
		<ul class="pagination pagination-primary-soft rounded">
			<li class="page-item"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-double-left"></i></a></li>
			<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item active"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
			<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
		</ul>
	</nav>
</div>
-->
		<!--페이지끝-->

		<!-- 모달 -->



		<!-- =======================Action box START -->
		<section class="m-0 p-0">
			<div class="container">
				<img th:src="@{/assets/images/moim/moimBottom.jpg}" alt="">
			</div>
		</section>
		<!-- =======================Action box END -->
	</main>

	<!-- Back to top -->
	<div class="back-top"></div>

	<footer th:replace="~{common/layout :: #footer}"></footer>

</body>
</html>