<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:replace="~{common/layout :: head}"></th:block>

	<link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/aos/aos.css}">
	<script th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
	
	<script th:inline="javascript">
		function readImage(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      document.getElementById('preview').src = e.target.result;
		    };
		    reader.readAsDataURL(input.files[0]);
		  } else {
		    document.getElementById('preview').src = "";
		  }
		}
		
		
	</script>

</head>

<body>
	
	<header th:replace="~{common/layout :: #header}"></header>

	<main>
		<!-- =======================Content START -->
		<section>
			<div class="container mt-8 mb-8">
				<div class="row">

					<!-- 사이드바 -->
					
					<th:block th:replace="~{common/layout :: #sideBar}"></th:block>
					<!-- 사이드바 끝 -->

					<!-- Main content START -->
					<div class="col-lg-8 col-xl-9 ps-xl-5">
					
						<!-- Offcanvas menu button -->
						<div class="d-grid mb-0 d-lg-none w-100">
							<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
								data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
								<i class="fas fa-sliders-h"></i> Menu
							</button>
						</div>

						<div class="vstack gap-4">
							<!-- Personal info START -->
							<div class="card border shadow-sm">
								<!-- Card header -->
								<div class="card-header border-bottom">
									<h4 class="card-header-title ps-1">회원정보</h4>
								</div>

								<!-- Card body START -->
								<div class="card-body">
									<!-- Form START -->
									<form class="row g-3" th:action=@{/memUpdate} method="post" enctype="multipart/form-data">
										<!-- Profile photo -->
										<div class="col-md-6">
											<div class="d-flex align-items-center">
												<label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
													<!-- Avatar place holder -->
													<span class="avatar avatar-xl">
														<img id="preview"
															class="avatar-img rounded-circle border border-white border-3 shadow"
															th:src="|/file/${session.mvo.renamedProfileImage}|" style="object-fit:cover;"
															th:unless="${session.mvo.renamedProfileImage==null} or ${session.mvo.renamedProfileImage.toString().equals('0')}" >
															<img id="preview"
															class="avatar-img rounded-circle border border-white border-3 shadow"
															src="/assets/campongimg/defaultImage.png"  style="object-fit:cover;" 
															th:if="${session.mvo.renamedProfileImage==null} or ${session.mvo.renamedProfileImage.toString().equals('0')}"
															>
													</span>
												</label>
												<!-- Upload button -->
												<label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">수정</label>
							
												<input id="uploadfile-1" class="form-control d-none" type="file" name="imageFile" onchange="readImage(this);">
											</div>
										</div>
										<!-- Name -->
										<div class="col-md-6">
										</div>
										<!-- Name -->
										<div class="col-md-6">
											<label class="form-label subtitle">닉네임<span class="text-danger">*</span></label>
											<input type="text" class="form-control" th:value=${session.mvo.nickName} name="nickName"
												placeholder="Enter your full name">
										</div>

										<!-- Mobile -->
										<div class="col-md-6">
											<label class="form-label subtitle">핸드폰 번호 <span class="text-danger">*</span></label>
											<input type="text" class="form-control" value="01012345678" name="phone"
												placeholder="Enter your mobile number" maxlength="11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
										</div>


										<!-- Address -->
										<div class="col-12">
											<label class="form-label subtitle">주소</label>
											<textarea class="form-control" rows="3" name="address"
												spellcheck="false" th:text="${session.mvo.address}">경기도 성남시 남우로 63, 우정빌403호</textarea>
										</div>

										<!-- Button -->
										<div class="col-12 text-end">
											<input type="submit" class="btn btn-primary mb-0" value="수정하기">
										</div>
									</form>
									<!-- Form END -->
								</div>
								<!-- Card body END -->
							</div>
							<!-- Personal info END -->

							<!-- Update Password START -->
							<div class="card border shadow-sm">
								<!-- Card header -->
								<div class="card-header border-bottom">
									<h4 class="card-header-title ps-1">비밀번호 변경</h4>
									<!--  <p class="mb-0 ps-1">최소 8자리 이상 : <span class="text-primary">영어 대문자, 소문자, 숫자, 특수문자 중 3종류
											조합</span></p>   할까 말까 고민중인것-->
								</div>

								<!-- Card body START -->
								<form class="card-body" th:action="@{/update.password}" method="post">
									<!-- Current password -->
									<div class="mb-3">
										<label class="form-label subtitle">현재 비밀번호</label>
										<input class="form-control" type="password" name="nowPassword" placeholder="현재 비밀번호를 입력하세요">
									</div>
									<!-- New password -->
									<div class="mb-3">
										<label class="form-label subtitle">변경할 비밀번호</label>
										<div class="input-group">
											<input class="form-control fakepassword" placeholder="변경할 비밀번호를 입력하세요"
												type="password" id="" name="password1">
											<span class="input-group-text p-0 bg-transparent">
												<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2 px-3"></i>
											</span>
										</div>
									</div>
									<!-- Confirm -->
									<div class="mb-3">
										<label class="form-label subtitle">변경할 비밀번호 재입력</label>
										<input class="form-control" type="password" name="password" placeholder="변경할 비밀번호를 재입력하세요">
									</div>

									<div class="text-end">
										<input type="submit" class="btn btn-primary mb-0" th:value="수정하기"/>
									</div>
								</form>
								<!-- Card body END -->
							</div>
							<!-- Update Password END -->

							<!-- Card START -->
							<div class="card border mb-5 shadow-sm">
								<!-- Card header -->
								<div class="card-header border-bottom">
									<h4 class="card-header-title ps-1">회원탈퇴</h4>
								</div>

								<!-- Card body START -->
								<div class="card-body">
									<h6>탈퇴하기 전에..</h6>
									<ul>
										<li>회원탈퇴시, 계정복구가 불가능합니다.</li>
									</ul>
									<a th:href="@{/delete.member}" class="btn btn-danger btn-sm mb-0">회원탈퇴하기</a>
								</div>
								<!-- Card body END -->
							</div>
							<!-- Card END -->


						</div>
					</div>
					<!-- Main content END -->

				</div>
			</div>
		</section>
		<!-- =======================Content END -->

	</main>

	<!-- Back to top -->
	<div class="back-top"></div>

	<footer th:replace="~{common/layout :: #footer}"></footer>
	<!-- Vendors -->
	<script th:src="@{/assets/vendor/aos/aos.js}"></script>

</body>

</html>