<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="~{common/layout :: head}"></th:block>
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>
	
	<!-- **************** MAIN CONTENT START **************** -->
	<main>
		<!-- =======================Main Content START -->
		<section class="vh-xxl-100">
			<div class="container h-100 d-flex px-0 px-sm-4">
				<div class="row justify-content-center align-items-center m-auto">
					<div class="col-12">
						<div class="bg-mode shadow rounded-3 overflow-hidden">
							<div class="row g-0">
								<!-- Vector Image -->
								<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
									<div class="p-3 p-lg-5">
										<img th:src="@{/assets/images/sign/signIn.jpg}" alt="">
									</div>
									<!-- Divider -->
									<div class="vr opacity-1 d-none d-lg-block"></div>
								</div>
								<!-- Information -->
								<div class="col-lg-6 order-1">
									<div class="p-4 p-sm-7">
										<!-- Logo -->
										<a th:href="@{/}">
											<img class="h-50px mb-3" th:src="@{/assets/images/campong.png}" alt="logo">
										</a>
										<!-- Title -->
										<h1 class="mb-2 h3">환영합니다</h1>
										<p class="mb-0">회원이 아니신가요?<a href="/sign.up" style="font-weight: 700">&nbsp;&nbsp;회원가입</a></p>
				
										<!-- Form START -->
										<form class="mt-4 text-start" action="/memLogin.do" method="post">
											<!-- Email -->
											<div class="mb-3">
												<label class="form-label sign-title">아이디</label>
												<input type="text" name="id" id="id" class="form-control">
											</div>
											<!-- Password -->
											<div class="mb-3 position-relative">
												<label class="form-label sign-title">비밀번호</label>
												<input class="form-control fakepassword" type="password" id="psw-input" name="password">
												<span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
													<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2 pe-3"></i>
												</span>
											</div>
											<!-- Button -->
											<div><button type="submit" class="btn btn-primary w-100 mb-0">로그인</button></div>
				
											<!-- Divider -->
											<div class="position-relative my-4">
												<hr>
												<p class="small bg-mode position-absolute top-50 start-50 translate-middle px-2">간편로그인</p>
											</div>
				
											<!-- Google and facebook button -->
											<div class="vstack gap-3">
												<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=418805a9ac53dea99e6e9b52a85aa215&redirect_uri=http://campong.store/sign.in/kakao">
												<img th:src="@{/assets/images/icon/kakao_login.png}" style="width: 100%;">
												</a>
											</div>
											<!-- 실패 메시지 -->
											<div class="modal" id="myMessage">
											  <div class="modal-dialog">
											    <div class="modal-content">
											      <!-- Modal Header -->
											      <div class="modal-header">
											        <h4 class="modal-title">메세지 확인</h4>
											        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
											      </div>
											      <!-- Modal body -->
											      <div class="modal-body">
											      아이디 또는 비밀번호 오류 입니다.
											      </div>
											      <!-- Modal footer -->
											      <div class="modal-footer">
											        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
											      </div>
											
											    </div>
											  </div>
											</div>
											<!-- 실패 메시지 끝-->
											
											
											
											<!-- Copyright -->
											<p class="mb-0 mt-3 text-center">©2023 Campong Final Project</p>
										</form>
										<!-- Form END -->
									</div>		
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================	Main Content END -->
	</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>

</body>
</html>