<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.campong.camping.model.mapper.CampingMapper">

	<resultMap type="Camping" id="campingListResultMap">
		<id property="contentId" column="CONTENTID"/>
		<result property="facltNm" column="FACLTNM"/>
		<result property="lineIntro" column="LINEINTRO"/>
		<result property="intro" column="INTRO"/>
		<result property="manageSttus" column="MANAGESTTUS"/>
		<result property="featureNm" column="FEATURENM"/>
		<result property="induty" column="INDUTY"/>
		<result property="lctCl" column="LCTCL"/>
		<result property="doNm" column="DONM"/>
		<result property="sigunguNm" column="SIGUNGUNM"/>
		<result property="zipcode" column="ZIPCODE"/>
		<result property="addr1" column="ADDR1"/>
		<result property="addr2" column="ADDR2"/>
		<result property="mapX" column="MAPX"/>
		<result property="mapY" column="MAPY"/>
		<result property="direction" column="DIRECTION"/>
		<result property="tel" column="TEL"/>
		<result property="homepage" column="HOMEPAGE"/>
		<result property="resveCl" column="RESVECL"/>
		<result property="gnrlSiteCo" column="GNRLSITECO"/>
		<result property="autoSiteCo" column="AUTOSITECO"/>
		<result property="glampSiteCo" column="GLAMPSITECO"/>
		<result property="caravSiteCo" column="CARAVSITECO"/>
		<result property="indvdlCaravSiteCo" column="INDVDLCARAVSITECO"/>
		<result property="tooltip" column="TOOLTIP"/>
		<result property="glampInnerFclty" column="GLAMPINNERFCLTY"/>
		<result property="caravInnerFclty" column="CARAVINNERFCLTY"/>
		<result property="operDeCl" column="OPERDECL"/>
		<result property="toiletCo" column="TOILETCO"/>
		<result property="swrmCo" column="SWRMCO"/>
		<result property="wtrplCo" column="WTRPLCO"/>
		<result property="brazierCl" column="BRAZIERCL"/>
		<result property="sbrsCl" column="SBRSCL"/>
		<result property="posblFcltyCl" column="POSBLFCLTYCL"/>
		<result property="themaEnvrnCl" column="THEMAENVRNCL"/>
		<result property="eqpmnLendCl" column="EQPMNLENDCL"/>
		<result property="animalCmgCl" column="ANIMALCMGCL"/>
		<result property="firstImageUrl" column="FIRSTIMAGEURL"/>
		<result property="readCount" column="READCOUNT"/>
		<result property="reviewCount" column="REVIEWCOUNT"/>
		<result property="bookmarkCount" column="BOOKMARKCOUNT"/>
		<result property="isBookmark" column="ISBOOKMARK"/>
	</resultMap>
	
	<resultMap type="CampingContentsReply" id="campingContentsReplyResultMap">
		<id property="rNo" column="REPLY_NO"/>
		<result property="contentId" column="CONTENTID"/>
		<result property="mNo" column="USER_NO"/>
		<result property="content" column="CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="originalFileName" column="ORIGINAL_FILENAME"/>
		<result property="renameFileName" column="RENAME_FILENAME"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="nickName" column="NICKNAME"/>
		<result property="profileImage" column="PROFILE_IMAGE"/>
		<result property="renamedProfileImage" column="RENAMED_PROFILEIMAGE"/>
	</resultMap>
	
	<resultMap type="Camping" id="campingDetailResultMap" extends="campingListResultMap">
		<collection property="replyList" javaType="arrayList" columnPrefix="R_" 
												resultMap="campingContentsReplyResultMap"/>
	</resultMap>
	
	<select id="selectCampingList" resultMap="campingListResultMap" parameterType="map">
		SELECT
			DISTINCT C.CONTENTID, C.FACLTNM, C.LINEINTRO, C.INTRO, C.MANAGESTTUS, 
			C.FEATURENM, C.INDUTY, C.LCTCL, C.DONM, C.SIGUNGUNM, C.ZIPCODE, 
			C.ADDR1, C.ADDR2, C.MAPX, C.MAPY, C.DIRECTION,TEL, C.HOMEPAGE,
			C.RESVECL, C.GNRLSITECO, C.AUTOSITECO, C.GLAMPSITECO, C.CARAVSITECO,
			C.INDVDLCARAVSITECO, C.TOOLTIP, C.GLAMPINNERFCLTY, C.CARAVINNERFCLTY,
			C.OPERDECL, C.TOILETCO, C.SWRMCO, C.WTRPLCO, C.BRAZIERCL, C.SBRSCL,
			C.POSBLFCLTYCL, C.THEMAENVRNCL, C.EQPMNLENDCL, C.ANIMALCMGCL,
			C.FIRSTIMAGEURL, C.READCOUNT, C.REVIEWCOUNT, C.BOOKMARKCOUNT
			,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID) as bookmarkCount
			<if test="mNo != null">
				,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID AND LK.USER_NO = #{mNo}) as isBookmark
			</if>		
			<if test="mNo == null">
				,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID AND LK.USER_NO = 0) as isBookmark
			</if>	
		FROM CAMPING_CONTENTS C
		LEFT OUTER JOIN CAMPING_CONTENTS_REPLY R ON R.CONTENTID = C.CONTENTID 
		LEFT OUTER JOIN MEMBER M2 ON R.USER_NO = M2.USER_NO 
		LEFT OUTER JOIN BOOKMARK LK ON  LK.CONTENTID = C.CONTENTID
		WHERE 1 = 1
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
		<if test="lctCl != null">
			AND lctCl LIKE '%${lctCl}%' 
		</if>
		<if test="facltNm != null">
			AND FACLTNM LIKE '%${facltNm}%' 
		</if>
		
		<if test="checkedTheme != null">
			AND (
			<foreach collection="checkedTheme" item="themaEnvrnCl" separator="or">
				THEMAENVRNCL LIKE '%${themaEnvrnCl}%'
			</foreach>
			)
		</if>
		<if test="checkedFclty != null">
			AND (
			<foreach collection="checkedFclty" item="sbrsCl" separator="or">
				SBRSCL LIKE '%${sbrsCl}%'
			</foreach>
			)
		</if>
		<if test="checkedPet != null">
			AND ANIMALCMGCL LIKE '${checkedPet}%'
		</if>
		ORDER BY C.CONTENTID DESC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectCampingCount" resultType="int" parameterType="map">
		SELECT
			COUNT(DISTINCT CONTENTID)
		FROM CAMPING_CONTENTS
		WHERE 1 = 1
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
		<if test="lctCl != null">
			AND lctCl LIKE '%${lctCl}%' 
		</if>
		<if test="facltNm != null">
			AND FACLTNM LIKE '%${facltNm}%' 
		</if>
		
		<if test="checkedTheme != null">
			AND (
			<foreach collection="checkedTheme" item="themaEnvrnCl" separator="or">
				THEMAENVRNCL LIKE '%${themaEnvrnCl}%'
			</foreach>
			)
		</if>
		<if test="checkedFclty != null">
			AND (
			<foreach collection="checkedFclty" item="sbrsCl" separator="or">
				SBRSCL LIKE '%${sbrsCl}%'
			</foreach>
			)
		</if>
		<if test="checkedPet != null">
			AND ANIMALCMGCL LIKE '${checkedPet}%'
		</if>
	</select>
	
	<select id="selectCampingByNo" resultMap="campingDetailResultMap" parameterType="map">
		SELECT  
			C.CONTENTID, C.FACLTNM, C.LINEINTRO, C.INTRO, C.MANAGESTTUS, 
			C.FEATURENM, C.INDUTY, C.LCTCL, C.DONM, C.SIGUNGUNM, C.ZIPCODE, 
			C.ADDR1, C.ADDR2, C.MAPX, C.MAPY, C.DIRECTION,TEL, C.HOMEPAGE,
			C.RESVECL, C.GNRLSITECO, C.AUTOSITECO, C.GLAMPSITECO, C.CARAVSITECO,
			C.INDVDLCARAVSITECO, C.TOOLTIP, C.GLAMPINNERFCLTY, C.CARAVINNERFCLTY,
			C.OPERDECL, C.TOILETCO, C.SWRMCO, C.WTRPLCO, C.BRAZIERCL, C.SBRSCL,
			C.POSBLFCLTYCL, C.THEMAENVRNCL, C.EQPMNLENDCL, C.ANIMALCMGCL,
			C.FIRSTIMAGEURL, C.READCOUNT, C.REVIEWCOUNT, C.BOOKMARKCOUNT,
			R.REPLY_NO AS R_REPLY_NO, 
		    R.CONTENTID AS R_CONTENTID,
		    R.CONTENT AS R_CONTENT, 
		    R.ORIGINAL_FILENAME AS R_ORIGINAL_FILENAME, 
		    R.RENAME_FILENAME AS R_RENAME_FILENAME, 
		    M.NICKNAME AS R_NICKNAME, 
		    R.CREATE_DATE AS R_CREATE_DATE
		    ,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID) as bookmarkCount
			<if test="mNo != null">
				,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID AND LK.USER_NO = #{mNo}) as isBookmark
			</if>		
			<if test="mNo == null">
				,(SELECT COUNT(*) FROM BOOKMARK LK WHERE C.CONTENTID = LK.CONTENTID AND LK.USER_NO = 0) as isBookmark
			</if>	
		FROM CAMPING_CONTENTS C
		LEFT OUTER JOIN CAMPING_CONTENTS_REPLY R ON (C.CONTENTID = R.CONTENTID)
		LEFT OUTER JOIN MEMBER M ON (R.USER_NO = M.USER_NO)
		LEFT OUTER JOIN BOOKMARK LK ON  LK.CONTENTID = C.CONTENTID
		WHERE C.CONTENTID = #{contentId}
	</select>
	
	<insert id="insertReply" parameterType="CampingContentsReply">
		INSERT INTO CAMPING_CONTENTS_REPLY(
				REPLY_NO, CONTENTID, USER_NO, 
				CONTENT, STATUS, ORIGINAL_FILENAME,
				RENAME_FILENAME, CREATE_DATE, NICKNAME, PROFILE_IMAGE, RENAMED_PROFILEIMAGE) 
			VALUES(
				0, #{contentId}, #{mNo}, 
				#{content}, DEFAULT, #{originalFileName},
				#{renameFileName}, DEFAULT, #{nickName}, #{profileImage}, #{renamedProfileImage}
			)
	</insert>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM CAMPING_CONTENTS_REPLY WHERE REPLY_NO=#{rNo}
	</delete>
	
	<update id="updateReadCount" parameterType="map">
		UPDATE CAMPING_CONTENTS SET READCOUNT=#{readCount} WHERE CONTENTID=#{contentId}
	</update>
	
	<update id="updateReviewCount" parameterType="map">
		UPDATE CAMPING_CONTENTS SET REVIEWCOUNT=#{reviewCount} WHERE CONTENTID=#{contentId}
	</update>
	
	<update id="updateBookmarkCount" parameterType="map">
		UPDATE CAMPING_CONTENTS SET BOOKMARKCOUNT=#{bookmarkCount} WHERE CONTENTID=#{contentId}
	</update>
	
	<insert id="bookmarkCamp" parameterType="map">
		INSERT INTO BOOKMARK VALUES(#{mNo}, #{contentId})
	</insert>
	
	<insert id="unBookmarkCamp" parameterType="map">
		DELETE FROM BOOKMARK WHERE USER_NO=#{mNo} AND CONTENTID=#{contentId}
	</insert>
	
	<select id="selectBookmarkList" resultMap="campingListResultMap" parameterType="int">
		SELECT C.CONTENTID, C.FACLTNM, C.ADDR1, C.FIRSTIMAGEURL
		FROM CAMPING_CONTENTS C
		LEFT OUTER JOIN BOOKMARK LK ON  LK.CONTENTID = C.CONTENTID
		WHERE LK.USER_NO = #{mNo};
	</select>
	
	<select id="getCampSelectmNoMax" resultMap="campingContentsReplyResultMap">
		SELECT *  FROM
		CAMPING_CONTENTS_REPLY WHERE USER_NO=#{mNo} AND REPLY_NO =(SELECT MAX(REPLY_NO) FROM CAMPING_CONTENTS_REPLY) 
	</select>
	<select id="getCampingReplyAll" resultMap="campingContentsReplyResultMap">
		SELECT * FROM CAMPING_CONTENTS_REPLY
		WHERE CONTENTID = #{contentId}
		ORDER BY REPLY_NO DESC
	</select>
	
	<delete id="allBookMarkDelete">
		DELETE FROM BOOKMARK WHERE USER_NO=#{mNo}
	</delete>
	
</mapper>