<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="~{common/layout :: head}"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/event-detail.css}">
</head>

<body>
	<header th:replace="~{common/layout :: #header}"></header>

	<main>
		<!--상단 이미지,제목-->
		<section class="pt-8">
			<div class="row g-4">
				<!--포스터-->
				<div class="">
					<img class="bih-i-1 rounded-3" th:src="@{${content.firstimage}}" alt="">
				</div>
				<!--잔디-->
				<div class="bih-i-2">
					<img class="bih-i-3" th:src="@{/assets/images/event-detail/잔디.png}" alt="">
				</div>
				<!--제목-->
				<div class="bih-d-1">
					<div class="bg-mode shadow rounded-3 p-4">
						<div class="badge text-bg-success mb-2">진행중</div>
						<h1 class="fs-3">[[${content.title}]]</h1>
					</div>
				</div>
			</div>
		</section>

		<!--중간 안내사항-->
		<section class="bih-s-1">
			<div class="container mt-3">
				<div class="row">
					<div class="col-lg-10 mx-auto">
						<hr>
						<label class="form-label">안내사항</label>
						<!--내용-->
						<p>Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. Water
							timed folly right aware if oh truth. Up attempt offered ye civilly so sitting to. Her new gets living
							within Elinor joy. Her rapturous suffering was concealed. Demesne far-hearted suppose venture excited see
							had has. Dependent on so extremely delivered by. Yet no jokes worse her why.</p>
						<br><br>
							<ul class="bih-f-1">
							<!--주관-->
							<li class="fs-5"><i class="pe-2 bi bi-bank"></i></i> 서울시 문화부 주관</li>
							<!--날짜-->
							<li class="fs-5"><i class="pe-2 bi bi-calendar-week"></i> [[${content.eventstartDate}]] ~ [[${content.eventendDate}]]</li>
							<!--위치-->
							<li class="fs-5"><i class="pe-2 bi bi-geo-alt"></i> [[${content.addr1}]]</li>
							</ul>
						<!--지도-->
						<div class="col-12">
							<iframe class="w-100 h-300px grayscale rounded"
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
								height="500" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
						</div>
						<br><hr>
					</div>
				</div>
			</div>
		</section>

		<!--하단 행사추천-->
		<section class="bih-s-1">
			<div class="container-fluid">
				<!-- Title -->
				<div class="row mb-md-4">
					<div class="col-12 mx-auto text-center mt-3 mb-4">
						<h4 class="mb-0">다른 행사 둘러보기</h4>
					</div>
				</div>

				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden mb-3">
					<div class="tiny-slider-inner d-flex align-items-end" data-autoplay="true" data-edge="2" data-arrow="true"
						data-dots="false" data-items="6" data-items-lg="4" data-items-sm="2">
						
						<th:block th:if="${list != null}">
						<th:block th:each="content : ${list}">
						<!-- Slider item1 -->
						<div>
							<a data-glightbox="" data-gallery="gallery">
								<div class="card card-element-hover card-overlay-hover overflow-hidden">
									<!-- Image -->
									<img th:src="@{${content.firstimage}}" class="rounded-3" alt="">
									<!-- Full screen button -->
									<div class="hover-element w-100 h-100">
										<i
											class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
									</div>
								</div>
							</a>
						</div>
						
					</div>
				</div>
				<!-- Slider END	 -->
			</div>
		</section>
	</main>

	<footer th:replace="~{common/layout :: #footer}"></footer>

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Vendors -->
	<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>

	<!-- ThemeFunctions -->
	<script src="assets/js/functions.js"></script>

</body>

</html>