<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multi.campong.bagpacking.model.mapper.BagpackingMapper">

	<resultMap type="Bagpacking" id="bagpackingListResultMap">
		<id property="contentId" column="CONTENTID"/>
		<result property="title" column="TITLE"/>
		<result property="cat3" column="CAT3"/>
		<result property="firstimage" column="FIRSTIMAGE"/>
		<result property="mapx" column="MAPX"/>
		<result property="mapy" column="MAPY"/>
		<result property="addr1" column="ADDR1"/>
		<result property="addr2" column="ADDR2"/>
		<result property="readCount" column="READCOUNT"/>
	</resultMap>
	
	<resultMap type="Fishing" id="fishingListResultMap">
		<id property="fishingNo" column="FISHING_NO"/>
		<result property="fishingNm" column="FISHING_NM"/>
		<result property="addr" column="ADDR"/>
		<result property="latitude" column="LATITUDE"/>
		<result property="longitude" column="LONGITUDE"/>
		<result property="usecharge" column="USECHARGE"/>
		<result property="phone" column="PHONE"/>
		<result property="species" column="SPECIES"/>
	</resultMap>
	
	<select id="selectBagpackingBestList" resultMap="bagpackingListResultMap" parameterType="map">
		(SELECT
			DISTINCT CONTENTID, TITLE, CAT3, FIRSTIMAGE, MAPX, MAPY, ADDR1, ADDR2, READCOUNT
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01010400'
		ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC limit 3)
		UNION
		(SELECT
			DISTINCT CONTENTID, TITLE, CAT3, FIRSTIMAGE, MAPX, MAPY, ADDR1, ADDR2, READCOUNT
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01011300'
		ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC limit 3)
	</select>
	
	<select id="selectBagpackingList" resultMap="bagpackingListResultMap" parameterType="map">
		SELECT
			DISTINCT CONTENTID, TITLE, CAT3, FIRSTIMAGE, MAPX, MAPY, ADDR1, ADDR2, READCOUNT
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01010400' 
		<if test="title != null">
			AND TITLE LIKE '%${title}%' 
		</if>
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
		<if test="sortReadCount != null">
			ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC LIMIT ${limit} OFFSET ${offset}
		</if>
		<if test="sortReadCount == null">
			ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC LIMIT ${limit} OFFSET ${offset}
		</if>
		<if test="sortName != null">
			ORDER BY FIRSTIMAGE='' ASC, TITLE DESC LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>
	
	<select id="selectBagpackingCount" resultType="int" parameterType="map">
		SELECT
			COUNT(DISTINCT CONTENTID)
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01010400' 
		<if test="title != null">
			AND TITLE LIKE '%${title}%' 
		</if>
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
	</select>
	
	<select id="selectIslandList" resultMap="bagpackingListResultMap" parameterType="map">
		SELECT
			DISTINCT CONTENTID, TITLE, CAT3, FIRSTIMAGE, MAPX, MAPY, ADDR1, ADDR2, READCOUNT
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01011300' 
		<if test="title != null">
			AND TITLE LIKE '%${title}%' 
		</if>
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
		<if test="sortReadCount != null">
			ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC LIMIT ${limit} OFFSET ${offset}
		</if>
		<if test="sortReadCount == null">
			ORDER BY FIRSTIMAGE='' ASC, READCOUNT DESC LIMIT ${limit} OFFSET ${offset}
		</if>
		<if test="sortName != null">
			ORDER BY FIRSTIMAGE='' ASC, TITLE DESC LIMIT ${limit} OFFSET ${offset}
		</if>
	</select>
	
	<select id="selectIslandCount" resultType="int" parameterType="map">
		SELECT
			COUNT(DISTINCT CONTENTID)
		FROM MOUNTAINISLAND
		WHERE CAT3 = 'A01011300' 
		<if test="title != null">
			AND TITLE LIKE '%${title}%' 
		</if>
		<if test="sido != null">
			AND ADDR1 LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR1 LIKE '%${gugun}%' 
		</if>
	</select>
	
	<select id="selectFishingList" resultMap="fishingListResultMap" parameterType="map">
		SELECT
			DISTINCT FISHING_NO, FISHING_NM, ADDR, LATITUDE, LONGITUDE, USECHARGE, PHONE, SPECIES
		FROM FISHING
		WHERE 1 = 1
		<if test="fishingNm != null">
			AND FISHING_NM LIKE '%${fishingNm}%' 
		</if>
		<if test="sido != null">
			AND ADDR LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR LIKE '%${gugun}%' 
		</if>
		ORDER BY PHONE='' ASC, LATITUDE='' ASC, LONGITUDE='' ASC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	<select id="selectFishingCount" resultType="int" parameterType="map">
		SELECT
			COUNT(DISTINCT FISHING_NO)
		FROM FISHING
		WHERE 1 = 1
		<if test="fishingNm != null">
			AND FISHING_NM LIKE '%${fishingNm}%' 
		</if>
		<if test="sido != null">
			AND ADDR LIKE '%${sido}%' 
		</if>
		<if test="gugun != null">
			AND ADDR LIKE '%${gugun}%' 
		</if>
	</select>
	
	<select id="selectBagpackingByNo" resultMap="bagpackingListResultMap" parameterType="int">
		SELECT  
			CONTENTID, TITLE, CAT3, FIRSTIMAGE, MAPX, MAPY, ADDR1, ADDR2, READCOUNT
		FROM MOUNTAINISLAND
		WHERE CONTENTID = #{contentId}
	</select>
	
	<select id="selectFishingByNo" resultMap="fishingListResultMap" parameterType="int">
		SELECT  
			DISTINCT FISHING_NO, FISHING_NM, ADDR, LATITUDE, LONGITUDE, USECHARGE, PHONE, SPECIES
		FROM FISHING
		WHERE FISHING_NO = #{fishingNo}
	</select>
	
<!-- 	<update id="updateReadCount" parameterType="map"> -->
<!-- 		UPDATE MOUNTAINISLAND SET READCOUNT=#{readCount} WHERE CONTENTID = #{contentId} -->
<!-- 	</update> -->
</mapper>